@page
@model HomePetCare.App.Frontend.Pages.Assign.VetModel
@{
    ViewData["Title"] = "Asignación de Veterinario";
}

<section id="edit">
    <h1 class="wow fadeInUp intern">@ViewData["Title"] para: @Model.mascota.Nombre</h1>
    
    <form method="post" class="wow fadeInUp">
        <input type="hidden" asp-for="mascota.Id"/>     
        <input type="hidden" asp-for="mascota.Nombre" value="@Model.mascota.Nombre"/>
        <input type="hidden" asp-for="mascota.Temperatura" value="@Model.mascota.Temperatura"/>
        <input type="hidden" asp-for="mascota.Peso" value="@Model.mascota.Peso"/>
        <input type="hidden" asp-for="mascota.FrecuenciaRespiratoria" value="@Model.mascota.FrecuenciaRespiratoria"/>
        <input type="hidden" asp-for="mascota.FrecuenciaCardiaca" value="@Model.mascota.FrecuenciaCardiaca"/>
        <input type="hidden" asp-for="mascota.EstadoAnimo" value="@Model.mascota.EstadoAnimo"/>
        <input type="hidden" asp-for="mascota.Propietario.PropietarioId" value="@Model.mascota.Propietario.PropietarioId" name="propietarioId"/>

        <div class="form-group">
            <label asp-for="mascota.Veterinario"></label>
            <select asp-for="mascota.Veterinario.VeterinarioId" name="veterinarioId" class="form-control">
                <option value="0">- Seleccione -</option>
                @foreach (var veterinario in Model.veterinarios)
                {
                    <option value="@veterinario.VeterinarioId">@veterinario.Nombre @veterinario.Apellido</option>                        
                }
            </select>
            <span class="text-danger" asp-validation-for="mascota.Veterinario.VeterinarioId"></span>
        </div>
        
        <button type="submit" class="main-btn btn-hover border-btn intern">Grabar</button>
        <a asp-page="/Mascotas/List" class="main-btn btn-hover border-btn intern">Cancelar</a>
    </form>
</section>

<script>
    document.querySelector("#mascotas").classList.add("active");
</script>